@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* light */
  --color-surface: #fff;
  --color-background: #fafafa;
  --color-text-pri: #1a1a1a;
  --color-text-sec: #d4af37;
  --color-highlight: #000;
  /* dark */
  --color-surface-dark: #1e1e1e;
  --color-background-dark: #121212;
  --color-text-pri-dark: #e5e5e5;
  --color-text-sec-dark: #e6ca65;
  --color-highlight-dark: #fff;
  /* font */
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}
